## In-class Exercises 
### Due on Gradescope 09/07, 11:59pm

**Exercise 1**: Create a DataFrame using the following data:

```python
Name: ['Alice', 'Bob', 'Charlie', 'David']
Age: [23, 35, 45, 25]
City: ['New York', 'Los Angeles', 'Chicago', 'Houston']
```

**Tasks**:
1. Display the DataFrame.
2. Use `.info()` to check the data types of each column.

In [3]:
import pandas as pd

data= {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [23, 35, 45, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print(df)

df.info()

      Name  Age         City
0    Alice   23     New York
1      Bob   35  Los Angeles
2  Charlie   45      Chicago
3    David   25      Houston
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

**Exercise 2**: Given the following DataFrame:

```python
data = {
    'Product': ['Laptop', 'Tablet', 'Smartphone', 'Desktop'],
    'Price': [1200, 300, 800, 1500],
    'Quantity': [10, 15, 25, 5]
}

df = pd.DataFrame(data)
```

**Tasks**:

1. Use `iloc` to select the first two rows.
2. Use `iloc` to select the `Price` column for all rows.

In [6]:
data2 = {
    'Product': ['Laptop', 'Tablet', 'Smartphone', 'Desktop'],
    'Price': [1200, 300, 800, 1500],
    'Quantity': [10, 15, 25, 5]
}

df2 = pd.DataFrame(data2)
print(df2)
print(df2.iloc[[0, 1]])

print(df2.iloc[0::, 1])

      Product  Price  Quantity
0      Laptop   1200        10
1      Tablet    300        15
2  Smartphone    800        25
3     Desktop   1500         5
  Product  Price  Quantity
0  Laptop   1200        10
1  Tablet    300        15
0    1200
1     300
2     800
3    1500
Name: Price, dtype: int64

**Exercise 3**: Given the same DataFrame from Exercise 2:

**Tasks**:

1. Use `loc` to select the row for the `'Smartphone'` product.
2. Use `loc` to select the `Price` and `Quantity` columns for `'Laptop'` and `'Tablet'`.

In [11]:
print(df2.loc[df2['Product'] == 'Smartphone'])
print(df2.loc[df2['Product'].isin(['Laptop', 'Tablet']), ['Price', 'Quantity']])

      Product  Price  Quantity
2  Smartphone    800        25
   Price  Quantity
0   1200        10
1    300        15

**Exercise 4**: Given a DataFrame of student scores:

```python
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Math_Score': [85, 78, 92, 67],
    'English_Score': [88, 74, 90, 70]
}

df = pd.DataFrame(data)
```

**Tasks**:

1. Filter students who scored more than 80 in Math.
2. Filter students who scored more than 80 in both Math and English.

In [18]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Math_Score': [85, 78, 92, 67],
    'English_Score': [88, 74, 90, 70]
}

df3 = pd.DataFrame(data)
print(df3[df3['Math_Score'] > 80])
print(df3[(df3['Math_Score'] > 80) & (df3['English_Score'] > 80)])

      Name  Math_Score  English_Score
0    Alice          85             88
2  Charlie          92             90
      Name  Math_Score  English_Score
0    Alice          85             88
2  Charlie          92             90

**Exercise 5**: Given a DataFrame with employee information:

```python
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'IT', 'Finance', 'Marketing'],
    'Salary': [70000, 80000, 75000, 60000]
}

df = pd.DataFrame(data)
```

**Tasks**:

1. Update the salary of 'David' to 65000.
2. Increase the salary of all employees in the 'IT' department by 10%*.

In [29]:
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'IT', 'Finance', 'Marketing'],
    'Salary': [70000, 80000, 75000, 60000]
}

df4 = pd.DataFrame(data)
print(df4)

df4.loc[df4['Employee'] == 'David', 'Salary'] = 65000
print(df4)

  Employee Department  Salary
0    Alice         HR   70000
1      Bob         IT   80000
2  Charlie    Finance   75000
3    David  Marketing   60000
  Employee Department  Salary
0    Alice         HR   70000
1      Bob         IT   80000
2  Charlie    Finance   75000
3    David  Marketing   65000

**Exercise 6**: Given the same DataFrame from Exercise 5:

**Tasks**:

1. Add a new column called `Bonus` where each employee gets a bonus of `5000`.
2. Remove the `Department` column from the `DataFrame`.

**Exercise 7**: Given a DataFrame containing sales data:

```python
data = {
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'David'],
    'Region': ['East', 'West', 'East', 'West'],
    'Sales': [100, 200, 150, 300]
}

df = pd.DataFrame(data)
```
**Tasks**:

1. Use `iloc` to select the last two rows and then use `loc` to select only the `Sales` column from those rows.
2. Use `loc` to select rows where the `Region` is `'East'` and then use `iloc` to get the first row of the result.

**Exercise 8**: Given a DataFrame with student grades:

```python
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Math_Score': [85, 78, 92, 67],
    'English_Score': [88, 74, 90, 70]
}

df = pd.DataFrame(data)
```

**Tasks**:

1. Create a new column `Pass_Math` which is `True` if Math_Score is greater than 70, otherwise `False`.
2. Update the `English_Score` to `75` for all students who failed in Math.