# Exercises 6 (09/29):

**Task 1**: Create a Table for Storing Book Information
* Write and execute a SQL query to create a new table named `Books` to store information about various books.
* The table should include the following columns:
    * `Title` (VARCHAR, max length 255)
    * `Author` (VARCHAR, max length 255)
    * `PublicationYear` (YEAR)
    * `Price` (INTEGER)

**Task 2**: Insert Data into the `Books` Table
* Write and execute SQL `INSERT` statements to add information about at least `three` books into the `Books` table.
* Each entry should include a `title`, `author`, `publication year`, and `price` (where price is an integer value).

**Task 3**: Retrieve All Records from the `Books` Table
* Write and execute a `SELECT` query to retrieve all columns for all books currently in the `Books` table.
* Display the results to verify that the data has been inserted correctly.

**Task 4**: Modify the Price of a Book
* Write a SQL `UPDATE` statement to modify the price of a book or a set of books based on a specific condition.
* You can choose any condition, such as updating the price of books published after a certain year or by a specific author.

**Task 5**: Delete a Specific Book or a Set of Books
* Write and execute a `DELETE` query to remove a specific book or a set of books based on a condition of your choice (e.g., deleting books by a particular author or published before a certain year).

**Task 6**: Research Task
* Learn how to utilize the MySQL Connector in Python to establish a connection with a MySQL database. Refer to the example provided at the start of the lecture for guidance.
* After making the connection, write a script that retrieves and displays all records from the `Books` table after performing the above operations (e.g., after deleting or updating book data).
* Research the following methods in Python's MySQL Connector:
    * `cursor()`: Understand how to create a cursor object to interact with the database.
    * `execute()`: Learn how to use this method to run SQL queries through the cursor.
    * `fetchall()`: Explore how to retrieve all the results from a query after execution.
* Execute a `SELECT * FROM Books;` query to retrieve all the book records.