# Homework 2 - Missing Values Handling and Aggregation

This is an **individual** assignment. Total: 20 points. Due:**<span style="color:red">  Sunday, September 14th, 11:59 pm </span>**.

Whenever you make changes to the DataFrame, **display the updated results** to verify the modificationsâ€”even if the task doesn't explicitly ask you to do so.

#### Task 1: Download the dataset from this [link](https://raw.githubusercontent.com/catalinVeghes/DSCI-105-Applied-Data-Analytics/refs/heads/main/datasets/Retail_Product_Dataset.csv) and load it into a DataFrame called `retail_data`. Then, display the DataFrame to verify that it was successfully loaded.

In [353]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/catalinVeghes/DSCI-105-Applied-Data-Analytics/refs/heads/main/datasets/Retail_Product_Dataset.csv')
print(df.head())

  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

#### Task 2: Create a new column named `Product_ID` with values like `Product 1`, `Product 2`, and so on for each row. Set this column as the custom index of the DataFrame. Don't forget the `inplace=True`.

In [354]:
df['Product_ID'] = ['Product ' + str(x) for  x in range(1, len(df) + 1)]
df.set_index('Product_ID', inplace=True)
print(df)

             Category   Price    Rating         Stock  Discount
Product_ID
Product 1         NaN  5548.0  1.870322           NaN       0.0
Product 2         NaN  3045.0  4.757798           NaN      38.0
Product 3         NaN  4004.0       NaN      In Stock       0.0
Product 4         NaN  4808.0  1.492085           NaN      33.0
Product 5         NaN  1817.0       NaN  Out of Stock      23.0
...               ...     ...       ...           ...       ...
Product 4358      NaN  4436.0  4.728335           NaN      49.0
Product 4359        B  6236.0       NaN  Out of Stock       4.0
Product 4360      NaN  3283.0       NaN  Out of Stock       9.0
Product 4361        D  2999.0  4.425995           NaN      40.0
Product 4362      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

#### Task 3: Calculate the number of missing values for each column `individually`. Then, compute the total number of missing values across all columns `combined`.

In [355]:
print(df.isnull().sum())
print("Total Sum:", df.isnull().sum().sum())

Category    2748
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64
Total Sum: 6716

#### Task 4: Calculate `the percentage` of missing values for each column `individually`.

In [356]:
print((df.isnull().sum()/len(df)).round(5) *100)

Category    62.999
Price        3.989
Rating      46.997
Stock       30.995
Discount     8.987
dtype: float64

#### Task 5: Assign the category `E` to all products with a missing category. Then, display the DataFrame to confirm that the changes have been applied.

In [357]:
df['Category'] = df['Category'].fillna('E')
print(df)

             Category   Price    Rating         Stock  Discount
Product_ID
Product 1           E  5548.0  1.870322           NaN       0.0
Product 2           E  3045.0  4.757798           NaN      38.0
Product 3           E  4004.0       NaN      In Stock       0.0
Product 4           E  4808.0  1.492085           NaN      33.0
Product 5           E  1817.0       NaN  Out of Stock      23.0
...               ...     ...       ...           ...       ...
Product 4358        E  4436.0  4.728335           NaN      49.0
Product 4359        B  6236.0       NaN  Out of Stock       4.0
Product 4360        E  3283.0       NaN  Out of Stock       9.0
Product 4361        D  2999.0  4.425995           NaN      40.0
Product 4362        E     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

#### Task 6: What happens when you attempt to convert the `Price` column from `float` to `integer` type? Explain the issue that arises and suggest one way to resolve it.

In [358]:
# df.astype({'Price': 'int'}) #it cant convert the NaN values to int unless tose values are 0 or are changed to the mean

#### Task 7: Apply `linear interpolation` to fill in the missing values in the `Price` column. Then, calculate `the mean` of the column after the missing values have been filled.

In [359]:
df['Price']= df['Price'].interpolate(method='linear')
print(df['Price'].mean())

5012.550091701055

#### Task 8: Apply both `forward fill` and `backward fill` methods to fill the missing values in the `Rating` column. Compare the total sum of the column after each method and determine which one results in a smaller total sum. Use that approach to update the original DataFrame.

In [360]:
print(df['Rating'].ffill().sum()) #this one produces a smaller total sum
print(df['Rating'].backfill().sum())

df['Rating'] = df['Rating'].ffill()

13270.127297654217
13441.984197582526

C:\Users\cxina\AppData\Local\Temp\ipykernel_52856\2295912307.py:2: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  print(df['Rating'].backfill().sum())

#### Task 9: Use the `replace()` function to fill the missing values in the `Stock` column with the label `"Stock Unknown"`. Then, display the DataFrame to confirm that the changes have been applied.

In [361]:
df['Stock'] = df['Stock'].replace({None: "Stock Unknown"})
print(df)

             Category   Price    Rating          Stock  Discount
Product_ID
Product 1           E  5548.0  1.870322  Stock Unknown       0.0
Product 2           E  3045.0  4.757798  Stock Unknown      38.0
Product 3           E  4004.0  4.757798       In Stock       0.0
Product 4           E  4808.0  1.492085  Stock Unknown      33.0
Product 5           E  1817.0  1.492085   Out of Stock      23.0
...               ...     ...       ...            ...       ...
Product 4358        E  4436.0  4.728335  Stock Unknown      49.0
Product 4359        B  6236.0  4.728335   Out of Stock       4.0
Product 4360        E  3283.0  4.728335   Out of Stock       9.0
Product 4361        D  2999.0  4.425995  Stock Unknown      40.0
Product 4362        E  2999.0  2.184471  Stock Unknown       0.0

[4362 rows x 5 columns]

#### Task 10: Use `reindex()` to rearrange the rows so that `Product_IDs` appear from highest to lowest. Do not modify the original DataFrame.

In [362]:
print(df.reindex(df.index.sort_values(ascending=False)))

             Category   Price    Rating          Stock  Discount
Product_ID
Product 999         E  2806.0  1.074642   Out of Stock      30.0
Product 998         D  5144.0  3.992800   Out of Stock      27.0
Product 997         E  8537.0  2.955840  Stock Unknown      10.0
Product 996         E  4917.0  2.308269   Out of Stock      21.0
Product 995         E  9692.0  2.308269       In Stock      26.0
...               ...     ...       ...            ...       ...
Product 1001        E   564.0  4.723567  Stock Unknown      49.0
Product 1000        E  9585.0  4.723567       In Stock      24.0
Product 100         E  2778.0  4.647671  Stock Unknown      43.0
Product 10          E   463.0  4.626187  Stock Unknown       3.0
Product 1           E  5548.0  1.870322  Stock Unknown       0.0

[4362 rows x 5 columns]

#### Task 11: Map the encoded Category values (Aâ€“E) to real category names using `.map()`: A â†’ Electronics, B â†’ Clothing, C â†’ Groceries, D â†’ Home & Kitchen, E â†’ Sports & Outdoors.

In [363]:
map = {
    'A': 'Electronics',
    'B': 'Clothing',
    'C': 'Groceries',
    'D': 'Home & Kitchen',
    'E': 'Sports & Outdoors'
}

df['Category'] = df['Category'].map(map)
print(df)

                       Category   Price    Rating          Stock  Discount
Product_ID
Product 1     Sports & Outdoors  5548.0  1.870322  Stock Unknown       0.0
Product 2     Sports & Outdoors  3045.0  4.757798  Stock Unknown      38.0
Product 3     Sports & Outdoors  4004.0  4.757798       In Stock       0.0
Product 4     Sports & Outdoors  4808.0  1.492085  Stock Unknown      33.0
Product 5     Sports & Outdoors  1817.0  1.492085   Out of Stock      23.0
...                         ...     ...       ...            ...       ...
Product 4358  Sports & Outdoors  4436.0  4.728335  Stock Unknown      49.0
Product 4359           Clothing  6236.0  4.728335   Out of Stock       4.0
Product 4360  Sports & Outdoors  3283.0  4.728335   Out of Stock       9.0
Product 4361     Home & Kitchen  2999.0  4.425995  Stock Unknown      40.0
Product 4362  Sports & Outdoors  2999.0  2.184471  Stock Unknown       0.0

[4362 rows x 5 columns]

#### Task 12: Create a custom function that returns `"Low"` if Rating is below 3, `"Medium"` if it's between 3 (inclusive) and 4, and `"High"` if it's 4 or above. Use `.apply()` to apply this function row-wise and store the result in a new column called `Rating_Level`. Then, count how many `"Low"`, `"Medium"`, and `"High"` ratings exist in the final DataFrame.

In [364]:
def rating_level(rating):
    if rating < 3:
        return "Low"
    elif 3 <= rating < 4:
        return "Medium"
    else:
        return "High"

df['Rating_Level'] = df['Rating'].apply(rating_level)
print(df['Rating_Level'].value_counts())

Rating_Level
Low       2104
Medium    1156
High      1102
Name: count, dtype: int64

#### Task 13: Extract `20%` of the rows from the original DataFrame to create a new subset. For this new DataFrame, apply a multi-level index using `Stock` as the first level and `Rating_Level` as the second. Use this updated DataFrame for all subsequent steps in the notebook.

In [365]:
subset_df = df.sample(frac=0.2)
subset_df = subset_df.set_index(['Stock', 'Rating_Level'])
subset_df

                                     Category   Price    Rating  Discount
Stock         Rating_Level
Out of Stock  High          Sports & Outdoors  1880.0  4.177730      33.0
              High          Sports & Outdoors  6069.0  4.148878      15.0
              Low           Sports & Outdoors  1894.0  2.329488       NaN
Stock Unknown Medium        Sports & Outdoors  4871.0  3.759453      28.0
              Medium              Electronics  7180.0  3.331716       2.0
...                                       ...     ...       ...       ...
Out of Stock  High          Sports & Outdoors  2558.0  4.522073       1.0
In Stock      Medium                 Clothing  1241.0  3.728174       9.0
              High                Electronics  4752.0  4.589988       1.0
Stock Unknown Low                    Clothing  3343.0  1.482812      38.0
              Low                    Clothing  6898.0  1.689000       NaN

[872 rows x 4 columns]

#### Task 14: Swap the index levels of the DataFrame, then sort it in `ascending` order by the new Level 0 index (which was originally Level 1).

In [366]:
subset_df = subset_df.swaplevel()
subset_df = subset_df.sort_index(level=0, ascending=True)
subset_df

                                     Category   Price    Rating  Discount
Rating_Level Stock
High         In Stock                Clothing  1354.0  4.168446      14.0
             In Stock             Electronics  2260.0  4.984170      37.0
             In Stock       Sports & Outdoors  3424.0  4.173074      42.0
             In Stock       Sports & Outdoors   284.0  4.852188      33.0
             In Stock       Sports & Outdoors  4502.0  4.589988      40.0
...                                       ...     ...       ...       ...
Medium       Stock Unknown          Groceries  7344.0  3.994355      39.0
             Stock Unknown     Home & Kitchen  8941.0  3.499803       NaN
             Stock Unknown  Sports & Outdoors  4734.0  3.266645       NaN
             Stock Unknown  Sports & Outdoors  4683.0  3.538718      40.0
             Stock Unknown          Groceries  5237.0  3.218072      33.0

[872 rows x 4 columns]

#### Task 15: Compute the average `Price` for each `Rating_Level` and sort the results in `ascending` order.

In [367]:
avg_price = subset_df.groupby(level='Rating_Level')['Price'].mean().sort_values(ascending=True)
avg_price

Rating_Level
Medium    4913.436620
High      5174.357456
Low       5201.685615
Name: Price, dtype: float64

#### Task 16: Group the DataFrame by `Category` and `Rating_Level`, and calculate the maximum values of the `Price`, `Rating`, and `Discount` columns for each group.

In [368]:
max_values = subset_df.groupby(['Category', 'Rating_Level'])[['Price', 'Rating', 'Discount']].max()
max_values

                                 Price    Rating  Discount
Category          Rating_Level
Clothing          High          9041.0  4.973084      47.0
                  Low           9911.0  2.905758      47.0
                  Medium        8741.0  3.932441      48.0
Electronics       High          9221.0  4.992002      47.0
                  Low           9891.0  2.957987      48.0
                  Medium        9933.0  3.998443      49.0
Groceries         High          9566.0  4.900050      47.0
                  Low           9974.0  2.957987      46.0
                  Medium        9841.0  3.994355      45.0
Home & Kitchen    High          9914.0  4.984170      47.0
                  Low           9895.0  2.957391      45.0
                  Medium        9328.0  3.994355      40.0
Sports & Outdoors High          9984.0  4.997818      49.0
                  Low           9999.0  2.991612      49.0
                  Medium        9951.0  3.988162      48.0

#### Task 17: Sort the DataFrame in `ascending` order by the `Price` column. Identify the category of the product with the `lowest` price.

In [369]:
sorted_df = subset_df.sort_values(by='Price', ascending=True)
sorted_df.iloc[0]['Category']

'Sports & Outdoors'

#### Task 18: For each `Category`, create a single DataFrame that shows both the `minimum` and `maximum` prices.

In [370]:
df.groupby('Category')['Price'].agg(['min', 'max'])

                     min     max
Category
Clothing           107.0  9919.0
Electronics        108.0  9997.0
Groceries          126.0  9974.0
Home & Kitchen     112.0  9988.0
Sports & Outdoors  102.0  9999.0

#### Task 19: Create a pivot table using `Rating_Level` as the index and `Category` as the columns. What do the resulting values represent? How can you modify the pivot table call if you want to apply a different aggregation function?

In [371]:
df.pivot_table(index='Rating_Level', columns='Category', values='Price') #  using aggfunc i can modify it

Category,Clothing,Electronics,Groceries,Home & Kitchen,Sports & Outdoors
Rating_Level,,,,,
High,5328.309278,4668.485849,5115.559406,5299.301587,4987.961039
Low,5458.994444,4968.030000,4972.497664,4882.591837,4955.010781
Medium,5355.445545,4739.850515,5251.340909,5059.827103,4986.986055

#### Task 20: If there are any missing values in the `Discount` column, remove the corresponding rows from the DataFrame. How many rows were removed as a result?

In [372]:
initial_rows = len(df)
df = df.dropna(subset=['Discount'])
rows_removed = initial_rows - len(df)
rows_removed

392